* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;

  font-family: "Montserrat", sans-serif;
}

header,
main,
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
	
  overflow: hidden;
}

button {
  outline: none;
  border: none;

  cursor: pointer;

  transition: 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

@media (min-width: 480px) { }
@media (min-width: 481px) and (max-width: 768px) { }
@media (min-width: 769px) and (max-width: 992px) { }
@media (min-width: 993px) and (max-width: 1200px) { }
@media (min-width: 1201px) and (max-width: 1600px) { }
@media (max-width: 1900px) { }

	
/* 
1. Outra versão
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

ou 


* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

2. Versão mais completa de CSS Reset

http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

--HTML5 display-role reset for older browsers--
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
