/*reset css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;

  font-family: "Montserrat", sans-serif;
}

/*scroll pela página, para ir até a seção correta deve-se adicionar um href="#idDaSeçãoDesejada" ao <a> do navbar*/

html {
  scroll-behavior: smooth;
}

/*pré-definições para mobile first*/

header,
main,
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
	
  overflow: hidden;
}

/*loading*/
#load {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #75a8af;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*estilização da seleção de caracteres*/

::selection {
  background-color: #fdf6e2;
}

/*impede selecionar img*/

img {
  user-select: none;
}

/*reset button*/

button {
  outline: none;
  border: none;

  cursor: pointer;

  transition: 200ms ease-in-out;
}

/*animação button*/

button:hover {
  transform: scale(1.05);
}

/*breakpoints media query*/

@media (min-width: 480px) { } /*esse é o padrão, o projeto será programado com essa resolução inicial*/
@media (min-width: 481px) and (max-width: 768px) { }
@media (min-width: 769px) and (max-width: 992px) { }
@media (min-width: 993px) and (max-width: 1200px) { }
@media (min-width: 1201px) and (max-width: 1600px) { }
@media (max-width: 1900px) { }

/*estilização barra de rolagem*/

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #fdf6e2;
}

body::-webkit-scrollbar-thumb {
  background-color: #f096b1;
  border-radius: 20px;
  border: 0px solid #fdf6e2;
}

	
/* 
1. Outra versão
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

ou 


* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

2. Versão mais completa de CSS Reset

http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

--HTML5 display-role reset for older browsers--
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
